@keyframes fadeOut{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

@keyframes loader{
  0%{
    transform:rotate(0deg); 
  }
  100%{
    transform:rotate(180deg);
  }
}

@keyframes loader-reverse{
  0%{
    transform:rotate(0deg); 
  }
  100%{
    transform:rotate(-180deg);
  }
}